:root {
    --navHeight: 10vh;
    --navWidth: 90%;
}

nav li a, nav li a:visited, .logo > a, .logo a:hover, .logo a:visited {
    text-decoration: none;
    color: var(--blue);
}

#hambergerCheckbox {
    display: none;
}

header {
    z-index: 100;
    position: relative;
    background-color: var(--gray-dark);
    height: var(--navHeight);
}

@media only screen and (min-width: 801px) {
    
    #hamberger {
        display: none;
    }
    
    header {
        width: var(--navWidth);
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    nav ul{
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        display: inline-block;
        padding: 0 30px;
    }
    
    nav li:hover, .logo:hover {
        transform: scale(1.5);
    }
    
    nav li, .logo {
        transition: transform 0.3s ease-in-out;
    }
    
    nav li a, nav li a:visited {
        font-size: 1.4rem;
    }
    
    .logo > a, .logo a:hover, .logo a:visited {
        font-size: 2.5rem;
        letter-spacing: 2px;
        font-weight: bolder;
    }

}

@media only screen and (max-width: 800px) {   
    
    header {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #hamberger {
        color: white;
        user-select: none;
        transition: all 0.1s ease-in;
        font-size: 35px;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        border: solid var(--blue) 5px;
    }

    nav {
        height: 100%;
        display: inline-block;
        position: absolute;
        right: 0;
        font-size: 2rem;
        width: 50%;
        pointer-events: none;
    }

    #hambergerCheckbox:checked ~ nav>ul {
        transform: scaleY(1);
        pointer-events: all;
    }

    #hambergerCheckbox:checked + #hamberger {
        background-color: var(--blue);
        color: var(--gray-dark);
    }
    
    nav ul{
        position: absolute;
        transform: scaleY(0);
        width: 100%;
        top: var(--navHeight);
        transition: transform 0.1s ease-in;
        transform-origin: top;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: var(--gray-dark);

    }

    nav ul li {
        padding: 1%;
    }

    nav ul li {
        border-top: solid white 1px;
    }

    .logo {
        font-size: 2rem;
        font-weight: bolder;
    }
}
