@import "nav.css";

:root {
    --gray-dark: #343A40;
    --blue: #44A8F9;
    --light-blue: #e3edf5;
}

body {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(90deg, var(--light-blue) 0%, white 100%);
}

p, a, button, input, textarea, h1, h2 {
    font-family: Ubuntu, sans-serif;
}

.text-center {
    text-align: center;
}

.transition {
    transition: none;
}