main {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main a, main a:hover, main a:visited {
    text-decoration: none;
    color: var(--blue);
}

article {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.content {
    flex-basis: 80%;
}

.content p {
    text-align: justify;
}

.images {
    flex-basis: 20%;
}

.content img {
    border-radius: 50%;
    float: left;
    shape-outside: circle(50%);
    margin-right: 5%;
}

.images ul {
    width: 100%;
    list-style: none;
}

.images li:not(:nth-last-child(1)) {
    margin-bottom: 10px;
}

.images img {
    width: 100px;
}

@media only screen and (max-width: 800px) {
    
    .content, .images {
        flex-basis: auto;
    }

    article {
        flex-direction: column;
    }

    .content p {
        text-align: left;
    }

    .images ul {
        margin: 0;
        padding: 0;
    }

    .images li {
        width: 23%;
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .images img {
        width: 100%;
    }
}
